{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<br>
<h3><strong>{{blog.title}}</strong></h3>
<small>Author: {{blog.author}}</small> | <small>Published: {{blog.period}}</small>
<br>
<br>
<img class="img-fluid mx-auto d-block" src="{{ blog.images.url }}" alt="Image File"> 
<br>
<br>
<p>{{blog.description}}</p>
<br>
<hr>
<div class="container">
   <form action="{% url 'blog:comments' blog.id %}" method="POST" id="commentForm">
      {% csrf_token %}
      <p><strong>Comment Here</strong></p>
      {% for message in messages %}
      <p id="message" style="color:red">{{message}}</p>
      {% endfor %}
      <textarea name="comment" id="comment" cols="30" rows="2"></textarea>
      <br>
      <button id="submit" type="submit" class="btn btn-sm btn-dark">Comment</button>
   </form>
</div>
<br>
<div class="container">
   {% for comment in comments %}
   <div class="row">
      <div class="col-auto mb-3 pr-0">
         <i class="fas fa-user-circle icon-4x" style="font-size:40px"></i>
      </div>
      <div class="col">
            <strong>{{ comment.user }}</strong><br>
            <small>{{ comment.comment }}</small>
      </div>
   </div>
  

   {% endfor %}
</div>
{% endblock %}


<!-- 
<div class="row">
   <div class="col">
      <div class="row">
         <strong>{{ comment.user }}</strong>
         <p>{{ comment.comment }}</p>
      </div>
      <div class="row">
         <i class="fas fa-user-circle icon-4x" style="font-size:40px"></i>
      </div>
   </div>
   </div> -->
