{% extends 'base.html' %}

{% load static %}

{% block content %}
  
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">THINK BUCKET IS SIMPLY A BIN WHERE YOU CAN ALWAYS THROW YOUR IDEAS</h1>
        <p class="lead text-muted"></p>
        <img src="{% static 'logo\brain.png' %}" alt="Image File" height="300" width="300">
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for job in jobs.all %}
        <div class="col">
          <div class="card shadow-sm">
           <img src="{{ MEDIA_URL }}{{ job.images }}" alt="Image File"> 
            <div class="card-body">
              <p class="card-text">{{ job.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <a  class="btn btn-success" class href="{% url 'blog:detail' job.id %}">Read</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}